@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--background-color: #F3F9F9;
	--primary-color: hsla(10, 90%, 40%, 1);
	--secondary-color: #e5e9cc;
	--accent-color: #7CC8CA;

	--font-primary: 'Fjalla One', sans-serif;
	--font-secondary: 'Roboto', sans-serif;
	--font-third: 'Silkscreen', sans-serif;
	--font-fourth: 'Orbitron', sans-serif;

	--font-size-small: 0.8rem;
	--font-size-normal: 1.125rem;
	--font-size-large: 1.2rem;
	--font-size-extra-large: 1.5rem;

	--line-height-normal: 1.6;
	--line-height-heading: 1.3;



	--word-spacing-normal: 0.5px;



	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;

	--padding-small: 0.25rem;
	--padding-half: 0.5rem;
	--padding-normal: 1rem;
	--padding-large: 1.25rem;

	--margin-small: 0.25rem;
	--margin-half: 0.5rem;
	--margin-normal: 1rem;
	--margin-large: 1.5rem;
}

body {

	max-width: 1050px;
	height: 100dvh;
	background-color: var(--background-color);
	margin-inline: auto;
	font-family: var(--font-secondary);
	/* Roboto as the primary font for the body */
	font-weight: var(--font-weight-normal);
	font-size: var(--font-size-normal);
	line-height: var(--line-height-normal);
	word-spacing: var(--word-spacing-normal);

	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-fourth);
	line-height: var(--line-height-heading);
	margin-block: var(--margin-normal);
	font-size: 2.5rem;
	font-weight: var(--font-weight-bold);

}



p {

	margin-top: var(--spacing-normal);
	margin-bottom: var(--spacing-normal);
}

a {
	color: black;
	font-size: var(--font-size-extra-large);
	font-weight: var(--font-weight-bold);
	text-decoration: none;
	/* Removes underline from links */
}

a:hover {
	text-decoration: underline;
	/* Adds underline on hover for better UX */
}

img {
	max-width: 100%;
	display: block;
}

.shadow {
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}



/* Navbar */
header {
	margin: 0;
	padding: 0;
}

.navbar {

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo * {
	max-width: 70px;
	max-height: 70px;
	border-radius: 50%;

}

#nav-list {
	display: flex;
	gap: 1rem;
	padding-inline: var(--padding-small);
}

.active {
	border-bottom: 2px solid black;
}



/* Main */
main {

	min-width: 100%;
	flex: 1;

	margin-inline: auto;
	display: grid;
	grid-template-rows: 1fr;


}


.wrapper-game-window,
.wrapper-instruction-window {
	padding: var(--padding-small);
	display: flex;
	flex-direction: column;
}




/* Main game window */
.btn-options {

	list-style: none;
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin-bottom: -2px;


}

.button {

	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 5rem;
	height: 1rem;
	padding-block: 1.5rem;
	padding: inline 3rem;

	border-radius: 20px 20px 0 0;
	font-family: var(--font-fourth);
	font-size: 1rem;
	color: white;
	background-color: hsla(10, 90%, 40%, 1);

}

.button:hover {
	font-size: 1.30rem;
	cursor: pointer;
}


.game-window,
.instruction-window {
	flex: 1;
	display: flex;
	margin-top: 0;
	padding: var(--padding-small);
	border: 2px solid black;
	border-radius: 1.75rem 1.75rem 1.75rem 1.75rem;
	background-color: var(--primary-color);
}

.game-screen-contact,
.game-screen-about,
.game-screen {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	padding-block: 1rem;
	border: 3px solid black;
	border-radius: 1.75rem 1.75rem 1.75rem 1.75rem;

	background-position: center;
	background-size: cover;
}

.game-screen {
	background-image: url(../assets/images/background/main-background.webp);
}

.game-screen-about {
	padding-inline: .5rem;
	background-color: var(--accent-color);
}

.game-screen-contact {
	background-color: var(--accent-color);
}




.playerNameWrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
	margin-inline: auto;

	font-family: var(--font-fourth);
	font-size: larger;
	text-align: center;

}

#leaderboardBtn,
.playerNameWrapper> :nth-last-child(-n+2) {
	border-radius: 30px;
	padding: 0.5rem;
	font-family: var(--font-fourth);
	font-size: var(--font-size-normal);
	margin-top: 5px;
	color: white;
}

.playerNameWrapper> :nth-last-child(2) {
	color: black;
}

#leaderboardBtn,
.playerNameWrapper> :nth-last-child(1) {
	background-color: hsla(10, 90%, 40%, 1);
}

#leaderboardBtn:active,
.playerNameWrapper> :nth-last-child(1):active {
	transform: translateY(1px);
}

#leaderboardBtn:hover,
.playerNameWrapper> :nth-last-child(1):hover {
	cursor: pointer;
}


.startButtonWrapper {
	display: flex;
	align-content: center;
}



.instruction-screen {
	flex: 1;
	display: flex;

	justify-content: center;
	gap: 5px;

	padding-block: 1rem;
	border: 3px solid black;
	border-radius: 1.75rem 1.75rem 1.75rem 1.75rem;

	background-color: var(--background-color);

}

#splashScreen {
	text-align: center;
	color: black;
	background-color: hsla(180, 33%, 96%, 0.6);
	position: relative;
	top: 150px;

}

.wrapper-game-instruction {
	flex: 1;
	border: 1px solid black;

}


/* Game Screen */
/* loading screen */
#myProgress {
	font-family: var(--font-fourth);
	color: white;
	text-align: center;

	width: 90%;
	margin-inline: auto;
	background-color: var(--primary-color);
	border-radius: 20px;
}

#myBar {
	width: 1%;
	height: 10px;

	background-color: white;
	border-radius: 0 0 20px 20px;

}

.hidden-image {
	display: none;
}

/* splash screen/start screen */

.startGameBtn {
	font-family: var(--font-third);
	font-size: var(--font-size-extra-large);
	border: 2px solid black;
	border-radius: 10px 10px 10px 10px;
	background-color: var(--primary-color);

	margin-block: auto;
	position: relative;
	padding-inline: 4rem;
	padding-top: .4rem;
	padding-bottom: .4rem;


}

/* Ingame containers */

/* top instruction modal and leaderboard */
.instructionBtn {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: var(--font-size-extra-large);
	color: var(--primary-color);



	display: flex;
	justify-content: center;
	align-content: center;
	gap: 10px;
}

.modalCloseBtn,
.instructionBtn>div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 1.75rem;
	height: 1.75rem;
	padding: 1rem;
	border-radius: 50%;
	font-size: 1rem;
	color: white;
	background-color: hsla(10, 90%, 40%, 1);
	box-shadow: 10px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

.modalCloseBtn,
.instructionBtn>div:hover {
	font-size: 1.75rem;
	cursor: pointer;
}


/* top - score */
.score {
	font-family: var(--font-fourth);
	font-size: 2rem;
	font-weight: var(--font-weight-bold);
	text-align: center;
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;

	background-color: hsla(180, 33%, 96%, 0.6);

	position: relative;
	top: 15px;
}

.score>* {
	text-align: center;
	flex: 1;
}



/* middle - players */
.mainGame {

	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;

}

.game-image {
	max-width: 40%;
}

@media (max-width: 40em) {
	.game-image {
		max-width: 50%;
	}
}




/*botton - buttons*/
.game-button-container {
	display: flex;
	justify-content: space-around;

}

#resetGameButton,
.ingameButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 5rem;
	height: 5rem;
	padding: 1rem;
	border-radius: 50%;
	font-family: var(--font-primary);
	font-size: 2rem;
	color: white;
	background-color: hsla(10, 90%, 40%, 1);
	box-shadow: 10px 3px 5px 0px rgba(0, 0, 0, 0.25);

}

#resetGameButton:hover,
.ingameButtons:hover {
	font-size: 4rem;
	cursor: pointer;

}



/* End game screen */

.modal {

	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-content: center;
	justify-content: center;

	/* Centrowanie w poziomie */

}

.modal-content {
	font-family: var(--font-fourth);
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 60%;
	max-width: 60%;
	background: var(--secondary-color);
	border: 2px solid black;
	padding: 1rem;
	border-radius: 10px;
	align-items: center;
	text-align: center;
	margin-inline: auto;
}

@media screen and (max-width: 40em) {
	.modal-content {
		min-width: 95%;
		max-width: 95%;
		max-height: 100%;
	}
}

#modalImage {
	max-width: 100px;
}

.modalCloseBtn {
	position: absolute;
	right: 2px;
	top: 2px;
}

/* footer */
.wrapper {
	text-align: center;
	align-items: end;
}

table {
	width: 100%;
	/* Makes the table use all available horizontal space */
	border-collapse: collapse;
	/* Collapses borders between table cells */
	table-layout: fixed;
	/* Ensures each column has a fixed width */
}

th,
td {
	width: 25%;
	/* Divide width equally if you have four columns, adjust accordingly */
	padding: 8px;
	/* Adds space inside the cell around content */
	text-align: left;
	/* Aligns text to the left; can be changed to center or right as needed */
	border: 1px solid black;
	/* Adds a light grey border around each cell */
}

@media screen and (max-width: 40em) {

	th,
	td {
		padding: 4px;
		/* Smaller padding for smaller screens */
		font-size: 12px;
		/* Smaller font size if necessary */
	}
}


/* form */

form {
	display: grid;
	justify-content: center;
	border-radius: 30px;
	padding: 0.5rem;
	font-family: var(--font-fourth);
	font-size: var(--font-size-normal);
	margin-top: 5px;
	color: black;
}

form > * {
	border-radius: 30px;
	padding: 0.5rem;
	font-family: var(--font-fourth);
	font-size: var(--font-size-normal);
	margin-top: 5px;
	color: black;

}

.form_button  {
background-color: hsla(10, 90%, 40%, 1);
	color: white;
}

.error-page {
	display: grid;
	justify-content: center;
}